html, body{
    margin:  0;
    padding: 0px;
    color: black;
    background-color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     /* font-size:   18px;  */
    line-height: 1.36em;
   
}
h1{
    text-align:center;
}

#content{
    font-size:25px;
    text-align: center;
}

#forecast{
    font-size: 16px;
    border: 2px solid darkolivegreen;
    border-radius: 5px;
    padding: 5px;
     /* display:flex;   */
    text-align: center; 
    /* justify-content: center;
    /* align-self: center; */
    /* flex-direction: column;  */
    height: 45%;
    width: 35%;
    float:right;
}

/* Dropdown-Menu */
#places , input{
    display:flex;
    align-items: center;
}
